.passwordRevealer {
  position: relative;
  display: flex;
  gap: 6px;
  padding: 3px 6px;
  background: var(--color-surface);
  color: var(--color-on-surface);
  border-radius: 6px;
}

.passwordRevealer input {
  border: none;
  outline: none;
  background: none;
}
